section#block-1986-smaller-than-the-moon.js-nav-block.slide.slide--1986.u-centering-wrapper(data-title= slides['1986']['title'])
  .slide__background
  .slide__background.slide__background-front
  .u-centered
    .slide__content.slide__content--inverted
      h2.heading.heading--slide= slides['1986']['title']
      p.date= slides['1986']['date']
      p= slides['1986']['content'][0]
      p= slides['1986']['content'][1]
    ul.radius
      li.radius__pluto
        .radius__solid.radius__solid--pluto
        .radius__numbers.radius__numbers--pluto
          span 1195 
          span= slides['1986']['km']
      li.radius__moon
        .radius__solid.radius__solid--moon
        .radius__numbers.radius__numbers--moon
          span 1737,5 
          span= slides['1986']['km']
