footer.footer.u-centering-wrapper
  .u-cetner
    h2= footer['links-title']

    hr

    h2= footer['credits-title']
    h4= footer['credits-sub-title']

    h4= footer['gratitude']

    h4= footer['references']

    p= footer['copy-rights']
