footer#block-credits.footer.u-centering-wrapper.js-nav-block
  .u-cetner
    if links
      h2.headline--m= footer['links-title']
      
      ul.footer-links
        for link in links
          li
            a(href= link[1] target='blank')= link[0]

    hr
    
    if credits
      h2.headline--m= footer['credits-title']
      h4.headline--xs.headline--pale-white--dark!= footer['credits-sub-title']
      
      dl.credits-list
        for credit in credits
          dt= credit[0]
          dl= credit[1]
    
    if gratitudes
      h4.headline--xs.headline--pale-white--dark= footer['gratitude']
      ul.gratitudes-list
        for gratitude in gratitudes
          li= gratitude

    if references
      h4.headline--xs.headline--pale-white--dark= footer['references-title']
      
      dl.references-list
        for reference in references
          dt= reference[0] 
          dl  / #{reference[1]}. 
    
    ul.social-networks
      li
        a.icon.icon-vk(href='http://vk.com/biguniverse' target='_blank') 
      li
        a.icon.icon-twitter(href='https://twitter.com/biguniverse_ru' target='_blank')
      li
        a.icon.icon-facebook(href='https://www.facebook.com/biguniverse.ru' target='_blank')

    p.footer__copy= footer['copy-rights']
