.subscribe-view.u-centering-wrapper
  .u-centered
    h2.headline--l!= subscribeView['title']
    p.subscribe__date= subscribeView['content']
    hr
    p.subscribe__text= subscribeView['invitation']
    form
      .subscribe__form-group
        input.subscribe__input(type='text', placeholder= subscribeView['email'])
        button.subscribe__button= subscribeView['send']
      label.subscribe__checkbox
        input(type='checkbox')
        span= subscribeView['sign-up-for-news']
