#block-mission-countdown.subscribe-view.u-centering-wrapper.js-nav-block(data-title= subscribeView['title'])
  .u-centered
    .subscribe__form-wrapper
      h3.heading.heading--subscribe-title= subscribeView['invitation-title']
      p.subscribe__text!= subscribeView['invitation']
      form
        .subscribe__form-group
          input#subscribe_email.subscribe__input(type='text', placeholder= subscribeView['email'])
          button#subscribe_button.subscribe__button= subscribeView['send']
      p.subscribe__error.subscribe__error--email= subscribeView['error']
      p.subscribe__error.subscribe__error--email-exists= subscribeView['error-email-exists']
      p.subscribe__error.subscribe__error--other= subscribeView['error-other']
    .subscribe__thank-you-wrapper
      h4.heading.heading--m= subscribeView['thanks-title']
      p.subscribe__thank-you-msg!= subscribeView['thanks-msg'][0]
      p.subscribe__thank-you-msg!= subscribeView['thanks-msg'][1]
    ul.social-networks
      li
        a.icon.icon-twitter(href='https://twitter.com/PlutoHistory' target='_blank')
      li
        a.icon.icon-github(href='https://github.com/odincov/discovering-pluto' target='_blank')
      li
        a.icon.icon-facebook(href='https://www.facebook.com/biguniverse.ru' target='_blank')
      li
        a.icon.icon-vk(href='http://vk.com/biguniverse' target='_blank')
    p.footer__copyright-notice= footer['copyright-notice']
